h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container {
  max-width: 1264px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media screen and (min-width: 304px) {
  .container {
    width: 304px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (min-width: 752px) {
  .container {
    width: 752px;
  }
}
@media screen and (min-width: 1264px) {
  .container {
    width: 1264px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  border-top: 5px solid #4a4a4a;
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 752px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1264px) {
  .header {
    padding-top: 28px;
    padding-bottom: 24px;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.header__logo .header__icon {
  width: 45px;
  height: 35px;
}
@media screen and (min-width: 752px) {
  .header__logo .header__icon {
    width: 72px;
    height: 57px;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 752px) {
  .header__nav {
    display: block;
  }
}
@media screen and (min-width: 752px) {
  .header__list {
    display: flex;
    gap: 24px;
  }
}
@media screen and (min-width: 1264px) {
  .header__list {
    display: flex;
    gap: 48px;
  }
}
.header__link {
  text-decoration: none;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s;
}
.header__link:hover {
  color: #555;
}
.header__tel {
  margin-left: auto;
}
.header__tel .header__phone {
  width: 22px;
  height: 22px;
  fill: #000;
}
@media screen and (min-width: 752px) {
  .header__tel .header__phone {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1264px) {
  .header__tel .header__phone {
    width: 28px;
    height: 28px;
  }
}

.hero {
  padding-bottom: 150px;
  padding-top: 64px;
  text-align: center;
  background-color: #ffffff;
  background-image: url(../img/flower.png);
  background-size: 145px 274px;
  background-repeat: no-repeat;
  background-position: center top 64px;
}
@media screen and (min-width: 752px) {
  .hero {
    background-size: 390px 636px;
  }
}
.hero__box {
  padding-top: 100px;
}
@media screen and (min-width: 752px) {
  .hero__box {
    padding-top: 200px;
  }
}
.hero__top {
  display: flex;
  align-items: center;
  gap: 167px;
  justify-content: center;
}
@media screen and (min-width: 752px) {
  .hero__top {
    gap: 450px;
  }
}
@media screen and (min-width: 1264px) {
  .hero__top {
    gap: 610px;
  }
}
.hero__label {
  width: 46px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 752px) {
  .hero__label {
    width: 101px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1264px) {
  .hero__label {
    font-size: 32px;
  }
}
.hero__img {
  width: 64px;
  height: 76px;
}
@media screen and (min-width: 752px) {
  .hero__img {
    width: 145px;
    height: 150px;
  }
}
@media screen and (min-width: 1264px) {
  .hero__img {
    width: 166px;
    height: 166px;
  }
}
.hero__title {
  color: #000;
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
  margin-top: 70px;
}
@media screen and (min-width: 752px) {
  .hero__title {
    font-size: 120px;
    font-weight: 400;
    line-height: normal;
    margin-top: 220px;
  }
}
@media screen and (min-width: 1264px) {
  .hero__title {
    font-size: 160px;
    font-weight: 400;
    line-height: normal;
    margin-top: 140px;
  }
}

.about {
  padding: 60px 0;
  background-color: #f9f9f9;
}
.about__text {
  flex: 1;
  text-align: left;
}
.about__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 26px;
}
.about__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
}
@media screen and (min-width: 752px) {
  .about__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 752px) {
  .about__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.about__desc {
  width: 288px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  word-break: keep-all;
}
@media screen and (min-width: 752px) {
  .about__desc {
    width: 322px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1264px) {
  .about__desc {
    width: 510px;
    font-size: 22px;
  }
}
.about__img {
  width: 288px;
  height: 178px;
  border-radius: 0px 639.5px 639.5px 0px;
}
@media screen and (min-width: 752px) {
  .about__img {
    width: 344px;
    height: 217px;
  }
}
@media screen and (min-width: 1264px) {
  .about__img {
    width: 632px;
    height: 344px;
  }
}

.story {
  background-color: #fdfdfd;
}
.story__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 752px) {
  .story__title {
    font-size: 32px;
    margin-bottom: 80px;
  }
}
.story__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
}
.story__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (min-width: 752px) {
  .story__list {
    gap: 32px;
  }
}
.story__item {
  flex-basis: calc((100% - 16px) / 2);
}
@media screen and (min-width: 752px) {
  .story__item {
    flex-basis: calc((100% - 32px) / 2);
  }
}
.story__img {
  height: 155px;
}
@media screen and (min-width: 752px) {
  .story__img {
    height: 399px;
  }
}
@media screen and (min-width: 1264px) {
  .story__img {
    height: 542px;
  }
}
.story__text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 752px) {
  .story__text {
    font-size: 32px;
    line-height: normal;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .story__text::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #000;
    display: block;
  }
}
@media screen and (min-width: 1264px) {
  .story__text {
    font-size: 36px;
    line-height: normal;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .story__text::after {
    content: "";
    width: 278px;
    height: 1px;
    background-color: #000;
    display: block;
  }
}
.story__price {
  color: darkgray;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 752px) {
  .story__price {
    font-size: 24px;
  }
}
@media screen and (min-width: 1264px) {
  .story__price {
    font-size: 28px;
  }
}
.story__button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.story__button {
  display: flex;
  width: 208px;
  height: 44px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  background: var(--pink, #E86F54);
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
  /* 120% */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 752px) {
  .story__button {
    width: 280px;
    height: 64px;
    padding: 16px 32px;
    font-size: 28px;
  }
}
.story__button:hover {
  background-color: #cf5f46;
}

.delivery {
  padding: 60px 0;
  background-color: #fff;
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 320px 135px;
}
@media screen and (min-width: 768px) {
  .delivery {
    background-size: 768px 264px;
  }
}
@media screen and (min-width: 1264px) {
  .delivery {
    background-size: 1280px 391px;
  }
}
.delivery__box {
  max-width: 1280px;
  text-align: left;
}
.delivery__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}
.delivery__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
}
@media screen and (min-width: 752px) {
  .delivery__title {
    font-size: 44px;
  }
}
.delivery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 100px;
}
@media screen and (min-width: 752px) {
  .delivery__list {
    gap: 32px;
    margin-bottom: 400px;
  }
}
.delivery__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 752px) {
  .delivery__item {
    gap: 20px;
  }
}
@media screen and (min-width: 1264px) {
  .delivery__item {
    gap: 56px;
  }
}
.delivery__text {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  width: 232px;
}
@media screen and (min-width: 752px) {
  .delivery__text {
    font-size: 24px;
    width: 544px;
  }
}
@media screen and (min-width: 1264px) {
  .delivery__text {
    font-size: 32px;
    width: 855px;
  }
}
.delivery__circle {
  width: 40px;
  height: 40px;
  outline: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 752px) {
  .delivery__circle {
    font-size: 26px;
    width: 64px;
    height: 64px;
  }
}

.blog {
  padding: 60px 0;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.blog__box {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
}
.blog__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .blog__title {
    font-size: 44px;
  }
}
.blog__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
}
.blog__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 44px;
}
.blog__item:nth-child(1) .blog__img {
  width: 122px;
  height: 147px;
}
@media screen and (min-width: 768px) {
  .blog__item:nth-child(1) .blog__img {
    width: 287px;
    height: 346px;
  }
}
@media screen and (min-width: 1268px) {
  .blog__item:nth-child(1) .blog__img {
    width: 390px;
    height: 421px;
  }
}
@media screen and (min-width: 1268px) {
  .blog__item:nth-child(1) {
    position: static;
  }
}
.blog__item:nth-child(even) {
  z-index: 1;
}
.blog__item:nth-child(even) .blog__img {
  width: 153px;
  height: 181px;
}
@media screen and (min-width: 768px) {
  .blog__item:nth-child(even) .blog__img {
    width: 344px;
    height: 398px;
  }
}
@media screen and (min-width: 1268px) {
  .blog__item:nth-child(even) .blog__img {
    width: 390px;
    height: 421px;
  }
}
@media screen and (min-width: 1268px) {
  .blog__item:nth-child(even) {
    position: static;
  }
}
.blog__item:nth-child(3) .blog__img {
  width: 315px;
  height: 369px;
}
@media screen and (min-width: 768px) {
  .blog__item:nth-child(3) .blog__img {
    width: 287px;
    height: 346px;
  }
}
@media screen and (min-width: 1268px) {
  .blog__item:nth-child(3) .blog__img {
    position: static;
  }
}
@media screen and (min-width: 1268px) {
  .blog__item:nth-child(3) {
    position: static;
  }
}
.blog__text {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .blog__text {
    font-size: 44px;
  }
}
.blog__button {
  display: flex;
  width: 280px;
  height: 64px;
  padding: 16px 32px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 38px;
  background: var(--pink, #E86F54);
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 24px;
}

.footer {
  background-color: #000;
  padding: 40px 0;
}
.footer__box {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (min-width: 752px) {
  .footer__box {
    justify-content: space-between;
  }
}
.footer__logo {
  display: none;
}
@media screen and (min-width: 1264px) {
  .footer__logo {
    display: block;
  }
}
.footer__icon {
  width: 73px;
  height: 57px;
  fill: #fff;
}
.footer__title {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}
@media screen and (min-width: 752px) {
  .footer__title {
    font-size: 20px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__link {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 752px) {
  .footer__link {
    font-size: 16px;
  }
}
.footer__social {
  display: flex;
  gap: 14px;
  transform: translateX(-35px);
}
@media screen and (min-width: 752px) {
  .footer__social {
    flex-direction: column;
    gap: 18px;
    transform: translateX(0);
  }
}
.footer__social-icon {
  width: 28px;
  height: 28px;
  fill: #fff;
}
.footer__social-icon:hover {
  opacity: 0.7;
}

@media screen and (min-width: 752px) {
  .footer__br {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */